:root {
  --main-color: #007bff;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-color);
  font-family: monospace;
}

.heading-link {
  color: black;
}

.App {
  margin-bottom: 30vh;
}

header {
  box-shadow: -15px -5px 23px #CCC;
  padding: 1rem;
}
